## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [3]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [4]:
# Your code here

sample_list_1 = random.sample(range(0, 100 + 1), 80)
print(sample_list_1)

[34, 65, 18, 74, 78, 73, 83, 14, 13, 28, 96, 91, 70, 60, 94, 49, 56, 52, 16, 51, 45, 87, 77, 99, 44, 27, 82, 8, 58, 53, 76, 36, 7, 84, 15, 89, 79, 3, 26, 54, 81, 88, 95, 85, 61, 39, 33, 20, 80, 46, 69, 4, 37, 0, 12, 63, 98, 72, 11, 55, 32, 23, 38, 71, 92, 10, 6, 41, 62, 100, 67, 97, 42, 25, 50, 48, 19, 1, 66, 59]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here

set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [6]:
# Your code here

sample_list_2 = [random.randrange(0,100) for a in range(0, 80)]

print(sample_list_2)

[87, 94, 16, 87, 32, 90, 2, 83, 45, 43, 62, 5, 17, 76, 81, 41, 54, 79, 41, 26, 88, 29, 46, 83, 72, 71, 31, 76, 50, 31, 63, 13, 34, 30, 18, 86, 82, 19, 88, 93, 60, 40, 79, 70, 58, 33, 94, 38, 46, 67, 68, 28, 67, 37, 40, 10, 37, 40, 49, 70, 46, 81, 33, 30, 77, 61, 99, 44, 23, 99, 31, 25, 2, 13, 84, 89, 41, 25, 19, 38]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [7]:
# Your code here

set2 = set(sample_list_2)
print(len(set2))

54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [8]:
# Your code here

reduce_set1_into_set2 = set1 - set2
set3 = reduce_set1_into_set2
print(set3)

{0, 1, 3, 4, 6, 7, 8, 11, 12, 14, 15, 20, 27, 36, 39, 42, 48, 51, 52, 53, 55, 56, 59, 65, 66, 69, 73, 74, 78, 80, 85, 91, 92, 95, 96, 97, 98, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [9]:
# Your code here

reduce_set2_into_set1 = set2 - set1
set4 = reduce_set2_into_set1
print(set4)

{2, 68, 5, 40, 43, 17, 93, 86, 90, 29, 30, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [10]:
# Your code here

set5 = set1.intersection(set2)
print(set5)

{10, 13, 16, 18, 19, 23, 25, 26, 28, 32, 33, 34, 37, 38, 41, 44, 45, 46, 49, 50, 54, 58, 60, 61, 62, 63, 67, 70, 71, 72, 76, 77, 79, 81, 82, 83, 84, 87, 88, 89, 94, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [13]:
# Your code here
if len(set1) == len(set3)+len(set5):
    print("relationship accredited")
elif len(set2) == len(set4)+len(set5):
    print("relationship accredited")

print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

relationship accredited
80
54
38
12
42

#### Create an empty set called `set6`.

In [103]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [104]:
# Your code here
set6.update(set3, set5)

#### Check if `set1` and `set6` are equal.

In [53]:
# Your code here
areTheSame = set1 == set6
print(areTheSame)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
# Your code here
check12 = set1.issubbset(set2)

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [56]:
# Your code here
aggregate345 = set()
aggregate12 = set()

aggregate345.union(set3,set4,set5)
aggregate12.union(set1,set2)

areTheSame = aggregate345 == aggregate12
print(areTheSame)

True

#### Using the `pop` method, remove the first element from `set1`.

In [54]:
# Your code here
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [65]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for item in list_to_remove:
    if item in set1:
        list_to_remove.remove(item)
    else:
        print(item)

[1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
{2, 3, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 20, 21, 22, 24, 25, 26, 27, 28, 30, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 64, 66, 68, 69, 70, 71, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 91, 93, 95, 96, 97, 98, 99, 100}
1
19
31
89